auxStuff
/feliz2018/*.iml
/feliz2018/.gradle
/feliz2018/local.properties
/feliz2018/.idea/workspace.xml
/feliz2018/.idea/libraries
/feliz2018/.DS_Store
/feliz2018/build
/feliz2018/captures
/feliz2018/.externalNativeBuild
